
<h1>Edit TODO</h1>
<form action="/users/update_2/<%= locals.id%>" method="POST">
    <textarea name="updated_todo" id="" cols="30" rows="10"><%= todo.todo%></textarea>
    <input type="submit" value="update">
</form>