<link rel="stylesheet" href="/css/home.css">
<h1><i class="fas fa-clipboard-list"></i> Welcome to todos App</h1>
<p>Please login using linkedin</p>
<button><a href="/users/auth/linkedin">Login</a></button>